<!doctype html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="styles.css">

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="forum2.js" defer></script>
    <script src="accessibilitat_forum.js" defer></script>


    
    <title>La Ciconia</title>
    <link rel="shortcut icon" type="image/jpg" href="imatges/favicon.ico"/>

  </head>
  <body>
    <h1>
      <a href="index.html"><img src="imatges/ciconia.png" alt="Icona de La Ciconia" width="100"/></a>
      La Ciconia
    </h1>

        <!--Settings-->
        <div id="settingsDiv">
          <button type="button" class="btn" id="settingsButton" data-toggle="modal" data-target="#settingsModal"><img src="imatges/settings.png" alt="Icona de opcions" width="50"/></button>    
          <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLabel">Opcions d'accessibilitat</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body"> 
                    <div id="font_slider" style="max-width: 80%; margin: auto;">
                      <h1>Ampliar la font {{ realAdd * 10 }} %</h1>
                      <div class="slidecontainer">
                          <input type="range" min="5" max="30" value="10" class="slider" id="fontSlider" v-model="fontAdd" @input="updateFont">
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Tancar</button>
                </div>
              </div>
            </div>
          </div>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="horizontal gray collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="menu2 navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inici <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blanc.html">Notícies</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informació
            </a>
            <div class="dropdown-menu" style="margin:0px 10px" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="index.html">Setmana a setmana</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="blanc.html">Part</a>
              <a class="dropdown-item" href="blanc.html">Activitat física</a>
              <a class="dropdown-item" href="alimentacio.html">Alimentació</a>
              <a class="dropdown-item" href="blanc.html">Concepció</a>
              <a class="dropdown-item" href="blanc.html">Evolució de l'embaràs</a>
              <a class="dropdown-item" href="blanc.html">Medicació</a>
              <a class="dropdown-item" href="blanc.html">Recomanacions</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="calculadora.html">Calculadores</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="forum2.html">Fòrum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blanc.html">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blanc.html">Sobre nosaltres</a>
          </li>
        </ul>
        <div class="justify-content-center align-items-cente" style="display: flex;">
          <form class="form-inline my-2 my-lg-0" style="flex-flow: nowrap;  margin: 0px 10px;">
            <input class="form-control mr-sm-2" type="search" placeholder="Tens alguna consulta?" aria-label="Cerca">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Cerca</button>
          </form>
        </div>
      </div>
    </nav>


        <!-- Sense aixo no va el dropdown xD-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script type="text/x-template" id="post">
      <div class="post">
        <div class="comment-wrapper">
          <div :style="indent" :class="comment">

            <!-- Per canviar l'estructura dels posts, modifiqueu els continguts d'aquest div -->

            <b>{{ name }}</b>
            <hr>
            {{ comment }}
            <br>
            <button type="button" class="btn-respondre" v-on:click="toggleInput" v-bind:class="{'active': input_active}">Respondre</button>
            <button type="button" class="btn-nomagrada" v-on:click="addDislike" v-bind:class="{'btn-nomagrada-active': disliked}">No m'agrada</button>
            <button type="button" class="btn-magrada" v-on:click="addLike" v-bind:class="{'btn-magrada-active': liked}">M'agrada</button>
            <label class="num-likes">{{ score }}</label>
            <br>

            <form v-if="input_active" style="margin-top: 10px">
              <hr>
              <div class="form-group row">
                <label class="col-sm-1 col-form-label">Nom</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Nom d'usuari" v-model="new_name">
                </div>
              </div>
              <div class="form-group row">
                <label  class="col-sm-1 col-form-label">Comentari</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3" v-model="new_comment"></textarea>
                </div>
              </div>
            </form>
          
            <button type="button" class="btn btn-primary" v-on:click="addComment" v-if="input_active">
              Envia
            </button>
          </div>
        </div>

        <post
          v-for="reply in replies" 
          :replies="reply.replies"
          :name="reply.name"
          :comment="reply.comment"
          :depth="depth + 1"
          :score="reply.score"   
        >
      </post>
      </div>
    </script>


    <div class="forum-container">
      <div id="forum_app_global">
        <form style="margin-top: 10px">
          <hr>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Nom</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Nom d'usuari" v-model="new_name">
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-1 col-form-label">Comentari</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" v-model="new_comment"></textarea>
            </div>
          </div>
        </form>
        <button type="button" class="btn btn-primary" v-on:click="new_thread">
          Crea fil
        </button>

        <div v-for="thread in threads">
          <div id="post_app">
          <post
            :replies="thread.replies"
            :depth="0"   
            :name="thread.name"
            :comment="thread.comment"
            :score="thread.score"
            style="border: 2px solid rgb(115,126,186);"
          ></post>
          </div>
          <br> 
        </div>
      </div>
    </div>





  </body>
</html>