<!doctype html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="styles.css">

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="forum2.js" defer></script>

    
    <title>La Ciconia</title>
  </head>
  <body>
    <h1>La Ciconia</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="horizontal gray collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="menu2 navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inici <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notícies</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informació
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Setmana a setmana</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Part</a>
              <a class="dropdown-item" href="#">Activitat física</a>
              <a class="dropdown-item" href="alimentacio.html">Alimentació</a>
              <a class="dropdown-item" href="#">Concepció</a>
              <a class="dropdown-item" href="#">Evolució de l'embaràs</a>
              <a class="dropdown-item" href="#">Medicació</a>
              <a class="dropdown-item" href="#">Recomanacions</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="calculadora.html">Calculadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="forum.html">Fòrum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre nosaltres</a>
          </li>
        </ul>
        <div class="justify-content-center align-items-cente" style="display: flex;">
          <form class="form-inline my-2 my-lg-0" style="flex-flow: nowrap;  margin: 0px 10px;">
            <input class="form-control mr-sm-2" type="search" placeholder="Tens alguna consulta?" aria-label="Cerca">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
          </form>
        </div>
      </div>
    </nav>
  <!--
    <div id="app">
      <form>
        <div class="form-group">
          <label for="lista">Lista de tareas</label>
          <input
            type="text"
            class="form-control mb-2"
            id="lista"
            v-model="taskText"
            placeholder="Escriba tarea"
          />
          <button type="button" class="btn btn-primary" v-on:click="addTask">
            Añadir tarea
          </button>
          <ul>
          <li v-for="task in tasks" :style="listItemStyle(task.margin)">{{ task.text }}</li>
          </ul>
        </div>
      </form>
    </div> 
  -->
    <script type="text/x-template" id="forum">
      <div class="forum">
        <div class="comment-wrapper">
          <div :style="indent" :class="comment">
            <b>{{ name }}</b>
            {{ comment }}
            <input
              type="text"
              class="form-control mb-2"
              v-model="new_comment"
              placeholder="Comment"
            />
            <button type="button" class="btn btn-primary" v-on:click="addComment">
              Afegir comentari
            </button>

          </div>
        </div>
        <forum
          v-for="reply in replies" 
          :replies="reply.replies"
          :name="reply.name"
          :comment="reply.comment"
          :depth="depth + 1"   
        >
      </forum>
      </div>
    </script>


    <div class="container">
      <div id="app">
      <forum
                 :replies="comment_tree.replies" 
                 :depth="0"   
                 :name="comment_tree.name"
                 ></forum>
      </div>
    </div>
        



  </body>
</html>