body {
  margin: auto;
}

.pregunta {
  background-color: rgb(229, 253, 229);
  padding: 3rem;
  border-radius: 15px;
  border-style: ridge;
}

.resposta {
  background-color: rgb(229, 252, 253);
  padding: 3rem;
  border-radius: 15px;
  border-style: ridge;
}

.article-container{
  background-color: rgba(144, 238, 144, 0.2);
  margin:40px;
  border-radius: 15px;
}
h1 {
  text-align:center;
  padding: 1%;
}

.red-header{
  color: red;  
}

.green-header{
  color:forestgreen;
}
img {
  max-width: 100%;
  height: auto;
}

#carousel {
  max-width: 70%;
  margin: auto;
  margin-top: 50px;
}

.test {
  margin:auto;
}

.carousel-inner{ 
  max-width: 80%; /* Està al 80% per no tapar les fletxes */
  margin: auto; /* i això és perquè el div quedi centrat */
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

/*Aquests dos són per canviar el color de les fletxes del carousel. El color vé donat pels tres ultims caràcters de fill='%23fff', que sembla que són valors hexadecimals*/
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23afa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23afa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.navbar{
  margin: 20px;
}

div.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

div.gray {
  border: 1px solid #afaeae;
  background-color: #f3f3f3;
}

ul.menu2 li {
  float: left;
}


ul.menu2 li a {
  display: block;
  color: #666;
  text-align: center;
  text-decoration: none;
  padding: 15px;

}
ul.menu2 li div.dropdown-menu{
  margin:0px 10px 5px;
}

ul.menu2 li a.dropdown-item{
  padding: 0.25rem 1.5rem;
}


ul.menu2 li a.active {
  color: white;
  background-color: #06aa4a;
}

ul.menu2 li.active{
  color: white;
  background-color: #06aa4a;
}

ul.menu2 li a:hover:not(.active) {
  background-color: #ddd;
}
/*code to change background color
.navbar-nav>.active>a {
    background-color: #C0C0C0;
    border-radius: 15px;
}*/

.slidecontainer {
  width: 100%; /* Width of the outside container */
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  border-radius: 10px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s ease-in-out;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 5px;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 25px;
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#app {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
}


